<p id="notice"><%= notice %></p>

<h1>Список вагонов купе</h1>

<table>
  <thead>
    <tr>
      <th>Номер:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  <%= render @coupe_carriages %>

  </tbody>
</table>

<br>

<%= link_to 'Добавить пользователя', new_train_coupe_carriage(@train) %>
