<tr>
  <td><%= user.name %></td>
  <td><%= link_to t('common.show'), user %></td>
  <td><%= link_to t('common.edit'), edit_user_path(user) %></td>
  <td><%= link_to t('common.delete'), user, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>
