<h1>Welcome to TuTu application</h1>

<%= link_to 'Список станций', admin_railway_stations_path %><br>
<%= link_to 'Список поездов', admin_trains_path %><br>
<%= link_to 'Список маршрутов', admin_routes_path %><br>
<%= link_to 'Список всех билето в системе', tickets_path %>
