<tr>
  <td><%= compartment_carriage.carriage_type %></td>
  <td><%= link_to 'Показать', compartment_carriage %></td>
  <td><%= link_to 'Редактировать', edit_compartment_carriage_path(compartment_carriage) %></td>
  <td><%= link_to 'Удалить', compartment_carriage, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>
