<p id="notice"><%= notice %></p>

<p>
  <strong>Ф.И.О.:</strong>
  <%= @ticket.passenger_name %>
</p>

<%= link_to 'Редактировать', edit_ticket_path(@ticket) %> |
<%= link_to 'Назад', tickets_path %>
