<p id="notice"><%= notice %></p>

<p>
  <strong>Ф.И.О.:</strong>
  <%= @ticket.passenger_name %>
</p>

<p>
  <strong>Маршрут:</strong>
  <% if @ticket.routes_name.present? %>
  <%= @ticket.routes_name%>
  <% else %>
  Не установлен
  <% end %>
</p>



